<form name="search" id="search" class="mt-3">
    <p>
        Author: <input type="text" ng-model="author" placeholder="such as: goodfellow,jimmy"></input> 
        Title: <input type="text" ng-model="title"></input> 
        Keywords: <input type="text" ng-model="keyWords" placeholder="such as: cnn,rnn"></input>
        Memo: <input type="text" ng-model="Memo">
    </p>
    <p>Years: <input type="text" ng-model="yearStart" style="width: 10%;"></input>  ——  <input type="text" ng-model="yearEnd" style="width: 10%;"></input>
    Users: <input type="text" ng-model="users" placeholder="such as: Wang,Hu"></input> 
    Rating: <input type="text" ng-model="rating"></input>
    显示条数: <input type="text" ng-model="numberBib">
    </p>
    <p>style choice:    
        <input style="width: 3.5%; height: 70%;" ng-model="styleAuthor"> Author 
        <input style="width: 3.5%; height: 70%;" ng-model="styleYear"> Year 
        <input style="width: 3.5%; height: 70%;" ng-model="styleRating"> Rating 
        <button class="btn btn-secondary" ng-click="searchBib()" id="btn-search">搜索</button>
        <div id="toAppend" class="text-danger"></div>
    </p>
</form>
<!-- <div ng-include="'search.html'"></div> -->
<button class="btn btn-dark" ng-click="insert()">新增bibtex记录</button>
<button class="btn btn-dark" ng-click="insertBib()">上传bib文件</button>
<p>select all: <input type="checkbox" id="selectAll"></p>
<div ng-repeat="(id,item) in items">
    <p class="h3"><input type="checkbox" class="selectItem" name="ids" selectNum="{{id}}">  <a href="/api{{item.localUrl}}">{{item.title}}</a>     <button ng-click="edit(item.id)" id="{{item.id}}" class="btn btn-secondary">修改</button><button ng-click="deleteBibtex(item.id)" class="btn btn-danger ml-2">删除</button></p>
    <p class="font-weight-bold">{{item.author}}</p>
    <p class="font-weight-light">{{item.source}}</p>
    <div>
        <a onclick="showBib(this)" class="text-decoration-none text-info" id="{{item.id}}">  [bib]</a>
        <pre class="text-muted bg-light p-3" style="display: none;">{{item.biborigin}}</pre>
    </div>
</div>
<p id="ap"><button id="view" ng-click="next()" class="btn btn-secondary" style="float: right;">预览</button></p>
